<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width:280px;"> 
    <a href="" class="title-sidebar d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <ion-icon name="logo-apple" style="width: 40px; height:40px;" class="me-2"></ion-icon>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link text-white d-flex align-items-center" aria-current="current-page">
                <ion-icon name="home-outline" class="me-3"></ion-icon>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="/me/stored/courses" class="nav-link  text-white">
                <ion-icon name="book-outline" class="me-2"></ion-icon>
                Manage Course
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">
                <ion-icon name="server-outline" class="me-2"></ion-icon>
                Products
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">
                <ion-icon name="person-circle-outline" class="me-2"></ion-icon>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="" class="dropdown-toggle d-flex align-items-center text-white text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32">
            <strong>Dungg</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
                <a href="" class="dropdown-item">New Project</a>
            </li>
            <li>
                <a href="" class="dropdown-item">Settings</a>
            </li>
            <li>
                <a href="" class="dropdown-item">Profile</a>
            </li>
            <li>
                <hr class="dropdown-divide">
            </li>
            <li>
                <a href="" class="dropdown-item">Sign out</a>
            </li>
        </ul>
    </div>
</div>

<script>
   
</script>